* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}

body {
  background-color: white;
  zoom: 1.3;
  -moz-transform: scale(3);
  -moz-transform-origin: 0 0;
  min-height:100%; 
  position:relative; 
  padding-bottom:4rem; 
}

h1 {
  text-align: center;
  text-align-last: center;
  margin-bottom: 20px;
}
.session {
  margin-top: 30px;
}

.container {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-between;
  color: #35363A;
  font-weight: 600;
  margin-top: 5rem;
}

.buttons {
  margin-top: 20px;
  margin-bottom: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.btn {
  width: 90px;
  margin: auto;
}

.btn-circle:focus {
  box-shadow: none;
}

.btn-circle.btn-sm {
  width: 30px;
  height: 30px;
  padding: 4px 0px;
  border-radius: 15px;
  font-size: 15px;
  text-align: center;
  border: none;
}

.dark {
  background-color: #35363A;
  color: white;
}

.pause {
  background-color: yellow;
}

/* Footer */


.footer-padding {
	
}

.footer {
  display: flex;	
  justify-content: center;  
  text-align: center;  
  align-items: center;
  position: absolute; 
  left: 0 ; right: 0; bottom: 0; 
  height: 4rem; 	
	background-color: #35363A;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}

.fa-github{
  color: white;
}

.author {
  margin-left: 2rem;
}